<div class="card">
  <div class="card-body">
    <h3 class="card-title">
        <b>{{ post.title }}</b>
        <small><em class="pull-right">{{ post.created_at | date: 'd/m/y, h:m a' }}</em></small>
    </h3>
    <p class="card-text">{{ post.content }}</p>
    <button type="button" class="btn btn-success" (click)="onLike(true)">Love it!</button>
    <button type="button" class="btn btn-danger ml-2" (click)="onLike(false)">Don't love it!</button>
    <button type="button" class="btn btn-danger pull-right" (click)="onDeletePost()">Supprimer</button>
  </div>
</div>
